[sources.nginx_logs]
type = "file"
include = [ "/var/log/nginx/my_access.log" ]
read_from = "end"

[sinks.clickhouse]
type = "clickhouse"
inputs = ["nginx_logs"]
endpoint = "http://"{{ clickhouse_ip }}":8123"
database = "log"
table = "nginx_log"
skip_unknown_fields = true